.container {
    width: 1024px;
    margin: 50px auto;
}
.container .row {
    margin-bottom: 20px;
}
li {
    margin-bottom: 10px;
}
.shopCartView button {
    margin-left: 10px;
}
tfoot td {
    font-weight: bold;
}