<div class="shopTerminalView">
    <h2>
        Terminal
    </h2>
    <div>
        <p>
            Hey there.  There's no UX here, but you can do a few things from the console.
        </p>
    </div>
    <div>
        <label>Scan a Product Code to the Cart</label>
        <pre>terminal.scan(productCode)</pre>
    </div>
    <div>
        <label>Clear the Cart</label>
        <pre>terminal.clear()</pre>
    </div>
    <div>
        <label>Run A Sample Checkout</label>
        <pre>terminal.checkout()</pre>
    </div>
</div>