<h2>
    Shopping Cart
</h2>
<div>
    <table class="table">
        <thead>
            <col width="50%">
            <col width="50%">
            <tr>
                <th>Product Code</th>
                <th>Quantity</th>
                <th class="text-right">Price</th>
        </thead>
        <tbody>
            {{#shopCartItems}}
                <tr>
                    <td>{{sku}}</td>
                    <td>{{quantity}}</td>
                    <td class="text-right">{{priceDescription}}</td>
                </tr>
            {{/shopCartItems}}
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                <td class="text-right">{{totalPriceDescription}}</td>
            </tr>
        </tfoot>
    </table>
</div>