<h2>
    Catalog
</h2>
<div>
    <table class="table">
        <thead>
            <col width="30%">
            <col width="30%">
            <col width="40%">
            <tr>
                <th>Product Code</th>
                <th>Name</th>
                <th>Price</th>
        </thead>
        <tbody>
            {{#items}}
                <tr>
                    <td>{{sku}}</td>
                    <td>{{name}}</td>
                    <td>{{priceDescription}}</td>
                </tr>
            {{/items}}
        </tbody>
    </table>
</div>